aiohttp==3.12.9
appdirs==1.4.4
black==19.10b0
brotlipy==0.7.0
certifi==2021.10.8
cssselect==1.1.0
et-xmlfile==1.1.0
fonttools==4.25.0
inflection==0.5.1
mccabe==0.6.1
mkl-service==2.4.0
mpmath==1.2.1
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.2.1
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
Pillow==9.0.1
protobuf==3.19.1
pyasn1-modules==0.2.8
pycosat==0.6.3
PyDispatcher==2.0.5
pyls-spyder==0.4.0
pytest==7.1.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
pytz==2021.3
PyYAML==6.0
queuelib==1.5.0
scikit-learn-intelex==2021.20220215.102710
sip==4.19.13
statsmodels==0.13.2
tables==3.6.1
tabulate==0.8.9
webencodings==0.5.1
xlwings==0.24.9
yarl==1.20.0
zict==2.0.0
